    <div class="card">
        <div class="card-header d-flex justify-content-between" id="headingOne">
            <h5 class="card-title d-inline-block m-0 p-0">Filter</h5>
            <a class="navbar-toggler d-inline-block d-md-none m-0 p-0" data-toggle="collapse" href="#collapseExample"
                role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-plus text-dark"></i>
            </a>
        </div>
        <div class="collapse show" id="collapseExample">
            <div class="card card-body">
                <form action="/posts" method="GET">
                    <fieldset class="form-group">
                        <legend>Search</legend>
                        <label for="search">Search by word</label>
                        <input class="form-control form-control-sm" type="text" id="search" placeholder="Search"
                            name="search" value="<%= query.search %>">
                    </fieldset>

                    <fieldset class="form-group">
                        <div>
                            <label for="location">Location</label>
                            <input type="text" class="form-control form-control-sm" id="location" name="location"
                                value="<%= query.location %>" placeholder="Adress or ZIP Code">
                            <small><a href="#" id="find-me">use my location</a></small><br>
                            <p id="status"></p>
                        </div>
                        <legend>Distance (miles)</legend>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="distance" id="distance25" value="25"
                                <%= query.distance === '25' ? 'checked' : '' %>>
                            <label class="form-check-label" for="distance25">25</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="distance" id="distance50" value="50"
                                <%= query.distance === '50' ? 'checked' : '' %>>
                            <label class="form-check-label" for="distance50">50</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="distance" id="distance100" value="100"
                                <%= query.distance === '100' ? 'checked' : '' %>>
                            <label class="form-check-label" for="distance100">100</label>
                        </div>
                        <div><a href="#" id="clear-distance">clear</a></div>
                    </fieldset>

                    <fieldset class="form-group">
                        <legend>Price</legend>
                        <label for="min">Min</label>
                        <input type="number" id="min" name="price[min]" min="0" max="10000" step="1" placeholder="Min"
                            value="<%= query.price ?  query.price.min : '' %>">
                        <label for="max">Max</label>
                        <input type="number" id="max" name="price[max]" min="0" max="10000" step="1" placeholder="Max"
                            value="<%= query.price ?  query.price.max : '' %>">
                    </fieldset>

                    <fieldset class="form-group">
                        <legend>Rating</legend>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="zero-stars" value="0" name="avgRating[]"
                                <%= query.avgRating && query.avgRating.includes('0') ? 'checked' : '' %>>
                            <label class="form-check-label" for="zero-stars">
                                <i class="far fa-star"></i>
                                <!-- 0 -->
                            </label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="one-star" value="1" name="avgRating[]"
                                <%= query.avgRating && query.avgRating.includes('1') ? 'checked' : '' %>>
                            <label class="form-check-label" for="one-star">
                                <i class="fas fa-star"></i>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="two-stars" value="2" name="avgRating[]"
                                <%= query.avgRating && query.avgRating.includes('2') ? 'checked' : '' %>>
                            <label class="form-check-label" for="two-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="three-stars" value="3"
                                name="avgRating[]"
                                <%= query.avgRating && query.avgRating.includes('3') ? 'checked' : '' %>>
                            <label class="form-check-label" for="three-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="four-stars" value="4" name="avgRating[]"
                                <%= query.avgRating && query.avgRating.includes('4') ? 'checked' : '' %>>
                            <label class="form-check-label" for="four-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="five-stars" value="5" name="avgRating[]"
                                <%= query.avgRating && query.avgRating.includes('5') ? 'checked' : '' %>>
                            <label class="form-check-label" for="five-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i><i class="fas fa-star"></i>
                            </label>
                        </div>
                    </fieldset>

                    <div><a href="/posts">reset form</a></div>

                    <input type="submit">
                </form>
            </div>
        </div>
    </div>



    <script src="/javascripts/use-my-location.js"></script>