<%- layout('layouts/boilerplate') -%>

<h1>Edit post: <%= post.title %></h1>

<form
  action="/posts/<%=post.id%>?_method=PUT"
  method="POST"
  id="postEditForm"
  enctype="multipart/form-data"
>
  <div>
    <input
      type="text"
      name="post[title]"
      id=""
      value="<%= post.title %>"
      required
    />
  </div>
  <div>
    <input
      type="text"
      name="post[price]"
      id=""
      value="<%= post.price %>"
      required
    />
  </div>
  <div>
    <input
      type="file"
      id="imageUpload"
      name="images"
      accept="images/*"
      multiple
    />
    <div>
      <% post.images.forEach((image, i) =>{ %>
      <img src="<%=image.url %>" alt="Surfboard Image" width="100px" />
      <label for="image<%= i %>">Delete?</label>
      <input
        type="checkbox"
        class="imageDeleteCheckbox"
        name="deleteImages[]"
        id="image<%= i %>"
        value="<%= image.public_id %>"
      />
      <% }) %>
    </div>
  </div>
  <div>
    <textarea name="post[description]" required>
<%= post.description %></textarea
    >
  </div>
  <div>
    <input
      type="text"
      name="post[location]"
      value="<%= post.location %>"
      required
    />
  </div>
  <div>
    <input type="submit" value="Edit" />
  </div>
</form>
<script src="/javascripts/post-edit.js"></script>
